.openerp .oe_web_example {
    color: white;
    background-color: black;
    height: 100%;
}
.openerp .oe_web_example h4 {
    margin: 0;
    font-size: 200%;
}
.openerp .oe_web_example.oe_web_example_started .oe_web_example_start button,
.openerp .oe_web_example.oe_web_example_stopped .oe_web_example_stop button {
    display: none
}
